{% extends 'user/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<style>
    body {
        background: url({% static "assets/images/register.jpg" %});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<div class="registration-container">
    <h1 class="header-title">Create Your Account</h1>

    <form method="POST" class="registration-form">
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        
        <!-- Username -->
        <div class="form-group">
          <div class="form-field">
              {{ form.username|as_crispy_field }}
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <div class="form-field">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-group">
            <div class="form-field">
                {{ form.name|as_crispy_field }}
            </div>
        </div>

        <!-- Age -->
        <div class="form-group">
            <div class="form-field">
                {{ form.age|as_crispy_field }}
            </div>
        </div>

        <!-- Gender -->
        <div class="form-group">
            <div class="form-field">
                {{ form.gender|as_crispy_field }}
            </div>
        </div>

        <!-- Password -->
        <div class="form-group">
            <div class="form-field">
                {{ form.password1|as_crispy_field }}
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <div class="form-field">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>

        <!-- Login Redirect Link -->
        <h6 class="mt-2 text-center">
            Already have an account? <a href="{% url 'login' %}" class="login-link">LOGIN</a>
        </h6>
    </form>
</div>
{% endblock %}
